html,
body {

}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#box-login {
    margin: 0 auto;
    background: gray;
    padding: 5px;
    width: 400px;
    color: white;
    text-align: center;
}

form#form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form#form-login label {
    margin-bottom: 10px;
}

.button-green {
    margin: 0 auto;
    background: green;
    border: none;
    color: white;
    width: 180px;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

ul#menu_list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

ul#menu_list li {
    margin-right: 15px;
}

#status_login {
    background-color: #efefef;
}

ul#users-home {
    list-style: none;
    padding: 0;
}

ul#users-home li {
    background-color: aquamarine;
    padding: 5px;
    margin-bottom: 3px;
}

/*---------------------------------------------------*/

form#form-create {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form#form-create label {
    margin-bottom: 10px;
    width: 90%;
}

form#form-create input {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #efefef;
}